* text=auto

*.uasset binary
*.umap binary
*.fbx binary
*.png binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.mp4 binary
*.wav binary
*.ogg binary
*.mov binary

*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text

*.exe binary
*.dll binary
*.lib binary
*.pdb binary

