Ignorar archivos binarios y compilados
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

Configuración del proyecto local
.vscode/
.vs/

Archivos específicos de sistema operativo
.DS_Store
Thumbs.db

Archivos de configuración de usuario y caché
*.opensdf
*.sdf
*.cache
*.log